<%- include("header") -%>
<div class='box' style='border:solid 1px;'>
  <h2> The temperature of <%=querry%>  is <%=temp%> degree Celcius.</h2>
  <p style='font-size:1.5rem;'> The weather is currently <%=weatherCond%>.</p>
  <img src="<%=imageUrl%>">
</div>
<%- include("footer") -%>
